.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login_container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
  text-align: center;
}

.login_container_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login_container_wrapper h1 {
  color: #3498db;
}

.login-form {
  width: 100%;
  margin-top: 20px;
}

.formInput {
  width: 100%;
  margin-bottom: 16px;
}

.login_container_wrapper_button {
  background-color: #3498db;
  color: #fff;
  width: 100%;
  margin-top: 16px;
}

.login_container_wrapper_button:hover {
  background-color: #2980b9;
}
