.homeDiv {
  display: flex;
  margin-top: 10vh;
  height: 90vh;
}

.newsFeed {
  width: 100%;
  margin: 0 auto;
}

#newPostButton {
  position: fixed;
  right: 5vh;
  bottom: 5vh;
  z-index: 11;
}

.mainFeed {
  padding: 0 10%;
  margin: 0 20%;
}


.rightSideDiv,
.leftSideDiv {
  width: 20%;
  position: fixed;
  height: 100vh;
  background-color: lightgrey;
}

.leftSideDiv{
  left: 0;
  top: 0;
  box-shadow: 5px 0px 8px rgba(0, 0, 0, 0.4);
}
.rightSideDiv{
  right: 0;
  top:0;
  box-shadow: -5px 0px 8px rgba(0, 0, 0, 0.4);
}