.homeCard {
  margin: 20px auto;
}

.commentInput {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.commentInput .MuiFormControl-root{
  width: 87%;
}

.commentInput button {
  width: 10%;
}