
.App-header {
  background-color: rgb(51, 51, 51);
  color: white;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 10vh;
  z-index: 10;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

.logo {
  font-size: 1.5em;
  color: white;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 10px;
}

.nav-links a, .logo a {
  text-decoration: none;
  color: white;
}

.nav-links a:hover {
  text-decoration: underline;
}