.profilBox {
  margin: 10%, 20%;
}

.formContainer {
  margin-top: 10%;
}

.form {
  display: 'flex';
  flex-direction: 'column';
  max-width: '400px';
  margin: 'auto';
}

.formField {
  margin-bottom: 20px;
},