body, h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
  height: 90vh;
  /* navbar top is fixed with height 10vh so we need to reduce whole body which goes under the bar*/
}

.container {
  margin: 0 auto;
}